.container-results-students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 96%;
    margin: 10px 2%;
}

.container-list-data {
    display: flex;
    width: 100%;
    background-color: var(--color-background-light-green);
    border-radius: 10px;
    padding: 10px 0;
}

.student-result {
    width: 100%;
}

.button-send {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--warn);
    color: white;
    font-size: 2em;
    border-radius: 50%;
    border: none;
    /* padding: 20px; */
    cursor: pointer;
    line-height: 0;
}

.button-send:hover {
    filter: saturate(60%);
}

.graph {
    bottom: 70px;
    background-color: var(--color-background-dark-green-no-transparency);
}

.download {
    bottom: 120px;
    background-color: var(--color-background-dark-green-no-transparency);
}

.container-graph {
    display: flex;
    width: 96%;
    margin: 10px 2%;
    border-radius: 10px;
    background-color: var(--color-background-light-green);
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    min-width: 200px;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.two {
    display: flex;
    min-width: 200px;
    width: 400px;
    justify-content: center;
}

.three {
    display: flex;
    min-width: 40px;
    justify-content: center;
}

.four {
    display: flex;
    min-width: 300px;
    width: 500px;
    justify-content: center;
}
.latest {
    margin-top: 20px;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    font-size: 1.2em;
}

.resume>h3 {
    text-align: center;
    font-size: 1.2em;
}