.container-results-students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 96%;
    margin: 10px 2%;
}

.container-list-data {
    display: flex;
    width: 100%;
    background-color: var(--color-background-light-green);
    border-radius: 10px;
    padding: 10px 0;
}

.student-result {
    width: 100%;
}

.button-send {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--warn);
    color: white;
    font-size: 2em;
    border-radius: 50%;
    border: none;
    /* padding: 20px; */
    cursor: pointer;
    line-height: 0;
}

.button-send:hover {
    filter: saturate(60%);
}

.graph {
    bottom: 70px;
    background-color: var(--color-background-dark-green-no-transparency);
}

.download {
    bottom: 120px;
    background-color: var(--color-background-dark-green-no-transparency);
}

.container-graph {
    display: flex;
    width: 96%;
    margin: 10px 2%;
    border-radius: 10px;
    background-color: var(--color-background-light-green);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-direction: column;
}

.container-graph>h3 {
    font-size: 1.3em;
}

.one {
    display: flex;
    min-width: 200px;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.two {
    display: flex;
    min-width: 200px;
    width: 400px;
    justify-content: center;
}

.three {
    display: flex;
    min-width: 40px;
    justify-content: center;
}

.four {
    display: flex;
    min-width: 300px;
    width: 500px;
    justify-content: center;
}
.latest {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: var(--color-background-light-green);
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 20px;
    padding: 25px 0;
}

.option-to-view-results {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-blue-degraded-5); */
    padding: 5px 0;
}

.option-results-button {
    display: flex;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: var(--color-blue-degraded-5);
    border: 1px solid var(--color-blue-degraded-5);
    color: white;
}

.option-results-button:first-child {
    border-radius: 20px 0 0 20px;
}

.option-results-button:last-child {
    border-radius: 0 20px 20px 0;
}

.option-results-button:hover {
    background-color: white;
    border-color: white;
    color: var(--color-blue-degraded-5);
}

.resume {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 5%;
    font-size: 1.2em;
}

.resume>h3 {
    text-align: center;
    font-size: 1.2em;
}

.color-blue {
    background-color: var(--color-blue-degraded-1);
    color: var(--color-blue-degraded-5);
}

.color-transparent {
    background-color: transparent;
}

.label-info-factor {
    display: flex;
    margin: 10px 20px;
}

.list-items-factors {
    margin: 0;
}

.results-scales-title-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-scales-title-center>h2 {
    margin: 0;
    margin-top: 20px;
}

.table {
    display: flex;
    /* background-color: tomato; */
    width: 96%;
    margin: 10px 2%;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: turquoise; */
    /* padding: 0 5px; */
    justify-content: center;
    align-items: center;
    max-width: 185px;

}

.column {
    display: inline-block;
    /* flex-direction: row; */
    /* background-color: yellowgreen; */
    width: calc(100% - 22px);
    /* margin: 5px 0; */
    padding: 5px 10px;
    margin: 0 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 2px solid var(--color-blue-degraded-4);

    /* max-width: 100px; */
}

.column:nth-child(odd) {
    background-color: var(--color-blue-degraded-2);
}

.column:first-child {
    background-color: var(--color-blue-degraded-5);
    color: var(--color-blue-degraded-1);
}

.app-graph {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .container-list-data {
        display: none;
    }
}