<app-toolbar></app-toolbar>
<div class="container-img">
    <ul class="menu-inicio">
        <li class="menu-inicio-item" (click)="change('aplicacion')">Aplicación</li>
        <li class="menu-inicio-item" (click)="change('escalas')">Escalas</li>
        <li class="menu-inicio-item" (click)="change('historia')">Historia</li>
    </ul>
    <div *ngIf="active==='aplicacion'" class="container-items">
        <div class="container-items-center">
            <h2 class="title-item">Información de las escalas</h2>
            <div class="horizontal-content">
                <img class="size-img" src="assets/images/4320854.jpg" alt="">
                <p class="size-text size-text-right size-text-resp">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis doloribus facilis vero minus? Eos perspiciatis tenetur voluptates, alias possimus blanditiis a atque magnam exercitationem dicta doloribus, doloremque porro? Minus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nulla obcaecati possimus tenetur mollitia. Perspiciatis officiis totam ea ipsum veritatis sint consequatur. Odio voluptates assumenda, nostrum provident omnis fuga minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus impedit in reiciendis harum nobis. Suscipit magni corrupti, vero veniam dolor laboriosam quis! Velit, odit! Quia aut incidunt tenetur voluptatibus?
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="active==='escalas'" class="container-items">
        <div class="container-items-center">
            <h2 class="title-item">Aplicación de las escalas</h2>
            <div class="horizontal-content change-position">
                <p class="size-text size-text-left size-text-resp">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis doloribus facilis vero minus? Eos perspiciatis tenetur voluptates, alias possimus blanditiis a atque magnam exercitationem dicta doloribus, doloremque porro? Minus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nulla obcaecati possimus tenetur mollitia. Perspiciatis officiis totam ea ipsum veritatis sint consequatur. Odio voluptates assumenda, nostrum provident omnis fuga minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus impedit in reiciendis harum nobis. Suscipit magni corrupti, vero veniam dolor laboriosam quis! Velit, odit! Quia aut incidunt tenetur voluptatibus?
                </p>
                <img class="size-img" src="assets/images/5187699.jpg" alt="">
            </div>
        </div>
    </div>

    <div *ngIf="active==='historia'" class="container-items">
        <div class="container-items-center">
            <h2 class="title-item">Historia del grupo de investigación</h2>
            <div class="vertical-content">
                <img class="size-img-center" src="assets/images/3304458.jpg" alt="">
                <p class="size-text-center size-text-resp">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat reiciendis doloribus facilis vero minus? Eos perspiciatis tenetur voluptates, alias possimus blanditiis a atque magnam exercitationem dicta doloribus, doloremque porro? Minus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nulla obcaecati possimus tenetur mollitia. Perspiciatis officiis totam ea ipsum veritatis sint consequatur. Odio voluptates assumenda, nostrum provident omnis fuga minus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus impedit in reiciendis harum nobis. Suscipit magni corrupti, vero veniam dolor laboriosam quis! Velit, odit! Quia aut incidunt tenetur voluptatibus?
                </p>
            </div>
        </div>
    </div>
    <!-- <img class="img-temp" src="assets/images/El-futuro-de-la-comunicacion-corporativa-768x463.png" alt="Construcción"> -->
</div>