<div class="container">

    <div *ngIf="stageOne" class="card">
        <h2>Recuperar contraseña</h2>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" required>
        </mat-form-field>
        <button class="button-cont" (click)="sendEmail()">Continuar</button>
    </div>

    <div *ngIf="stageTwo" class="card">
        <h2>Recuperar contraseña</h2>
        <p>A continuación ingresa el código que se envió a tu email y la nueva contraseña</p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Código de confirmación</mat-label>
            <input matInput [(ngModel)]="codeConfirmation" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password1" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirmación de contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password2" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="button-cont" (click)="sendChange()">Aceptar</button>
    </div>

    <div *ngIf="loading" class="floating-messaje">
        <mat-spinner></mat-spinner>
    </div>
</div>