<div class="container-users">
    <ul class="list-items">
        <div *ngIf="users.length===0 && !loading" class="item" style="justify-content: center;">Vacio</div>
        <div class="loading" *ngIf="loading"><mat-spinner></mat-spinner></div>
        <li class="item" *ngFor="let user of users;let i=index">
            <label>
                {{user.name}}
            </label>
            <label *ngIf="style==='ally'">
                {{user.institution}}
            </label>
            <select class="select-list-item" *ngIf="style==='admin'" [(ngModel)]="user.institution" (change)="changeSelect(i)">
                <option [value]="inst.name" *ngFor="let inst of institutions">{{inst.name}}</option>
            </select>
            <select class="select-list-item" *ngIf="style==='admin'" [(ngModel)]="user.role" (change)="changeSelect(i)">
                <option value="SpAdmin">SuperAdmin</option>
                <option value="Admin">Administrador</option>
                <option value="Ally">Aliado</option>
                <option value="None">Ninguno</option>
            </select>
            <div *ngIf="style==='ally'" class="buttons">
                <mat-icon class="button-img" (click)="showImage(user)">add_photo_alternate</mat-icon>
                <select class="select-list-item" *ngIf="style==='ally'" [(ngModel)]="user.role" (change)="changeSelect(i)">
                    <option value="student">Estudiante</option>
                    <option value="None">None</option>
                </select>
            </div>
        </li>
    </ul>
    <div class="container-buttons-scales-create">
        <button class="button-scales color-green" (click)="sendData()">Guardar</button>
    </div>
</div>

<div *ngIf="messageActivate" class="floating-messaje">
    <div>
        <h2>{{messageTitle}}</h2>
        <div class="center-message-info" *ngIf="messageInfo===''">
            <mat-spinner></mat-spinner>
        </div>
        <h3 class="center-message-info" *ngIf="messageInfo!==''">{{messageInfo}}</h3>
        <button class="button-primary color-azul" (click)="closeAlert()">Aceptar</button>
    </div>
</div>

<div *ngIf="imageActive" class="floating-messaje">
    <mat-icon class="close" (click)="close()">close</mat-icon>
    <img class="size-img-permission" [src]="url" alt="">
</div>