<div class="container-scales-create">
    <div class="container-input">
        <h3>Título</h3>
        <input type="text" class="size-input-scales" [(ngModel)]="title">
    </div>
    <div class="container-input">
        <h3>Descripción</h3>
        <!-- <input type=""> -->
        <textarea name="" id="" rows="5" class="size-input-scales" [(ngModel)]="description"></textarea>
    </div>
    <div class="container-input">
        <h3>Forma de respuesta</h3>
        <!-- <input type="text" class="size-input-scales"> -->
        <select class="size-input-scales" style="width: 100%;" [(ngModel)]="answerForm">
            <option></option>
            <option value="0">Escala: Totalmente en desacuerdo, ..., Totalmente de acuerdo (0,1,2,3)</option>
            <option value="1">Escala: Nunca, ..., Siempre (0,1,2,3,4)</option>
            <option value="2">Escala: Muy de acuerdo, ..., Muy en desacuerdo (0,1,2,3,4)</option>
        </select>
    </div>
    <div class="container-input">
        <h3>Preguntas</h3>
        <div *ngFor="let question of questions; let i=index">
            <app-pregunta [pruebaIn]="{'index':i,'question':question}" (jsonSend)="responseQuestionComponent($event)"></app-pregunta>
        </div>
        <button class="add-question" (click)="addQuestion()">+</button>
    </div>
    
    <div class="container-buttons-scales-create">
        <button class="button-scales color-red" (click)="clearAll()">Limpiar</button>
        <button class="button-scales color-green" (click)="sendScale()">{{scale?'Editar':'Crear'}}</button>
    </div>
</div>

<div *ngIf="messageActivate" class="floating-messaje">
    <div>
        <h2>{{messageTitle}}</h2>
        <h3>{{messageInfo}}</h3>
        <button *ngIf="messageButton" class="button-primary color-azul" (click)="closeAlert()">Aceptar</button>
    </div>
</div>