.container-prop-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.items-menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.item {
    display: flex;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--color-background-dark-green-no-transparency);
    margin: 0 10px;
    cursor: pointer;
    background-color: var(--color-background-dark-green);
    color: var(--color-notifications-white-transparent);
}

.item:hover {
    background-color: var(--color-background-dark-green-no-transparency);
    color: white;
}

.item-toobal {
    display: flex;
    list-style: none;
    margin: 5px 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: red; */
    /* color: var(--color-icons); */
    /* border: 1px solid var(--color-background-dark-green-no-transparency); */
    user-select: none;
}

.mat-icon-toolbar {
    color: white;
    background-color: var(--color-background-dark-green-no-transparency);
    position: relative;
}

.floating-element {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-login);
    position: absolute;
    top: 47px;
    /* bottom: 0; */
    right: 0;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
}

.list-floating-element {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.item-list-floating-element {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--font-robot);
    font-size: 14px;
    /* background-color: yellow; */
}