.container-platform-options {
    display: flex;
}

.size-menu-side {
    width: 10%;
    min-width: 150px;
    display: flex;
    min-height: calc(100vh - 44px);
    height: auto;
}

.size-component-routing {
    width: 90%;
}