<div class="container-info-student">
    <h1>Bienvenido</h1>
    <div class="img-info">
        <img class="img-results" src="assets/images/results.png" alt="Resultados">
        <div class="info-results">
            <!-- <h2>adsf</h2> -->
            <div class="text">
                Agradecemos que te tomes el tiempo para responder cada pregunta,
                esto nos permitirá conocer aspectos de la realidad en que vives y
                con ello proponer soluciones a problemas que te pueden estar afectando.
                Tus respuestas no serán compartidas con nadie, por favor responde con tooda franqueza.
            </div>
        </div>
    </div>
</div>