<div class="container-info-student">
    <h1>Título</h1>
    <div class="img-info">
        <img class="img-results" src="../../../../assets/images/results.png" alt="Resultados">
        <div class="info-results">
            <h2>adsf</h2>
            <div class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi natus laudantium rerum repudiandae delectus ipsa tempora! Totam expedita in itaque quasi aut ab dignissimos. Possimus laudantium expedita soluta iusto eligendi?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias tempore, velit veniam praesentium quod assumenda iste illo perferendis, ducimus sequi quia suscipit deserunt quas quidem? Eligendi alias commodi blanditiis atque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maxime neque, quasi ipsam blanditiis vero dolorum reiciendis debitis, cumque necessitatibus praesentium vitae similique enim ullam vel temporibus eius, doloremque tenetur?
            </div>
        </div>
    </div>
</div>