.container-prop-institution-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.size-input-institution {
    font-family: Roboto;
    display: flex;
    width: calc(100% - 50px);
    border-radius: 10px;
    padding: 10px;
    border-color: var(--color-background-toolbar);
    border: 2.5px solid var(--color-background-toolbar);
    font-size: 1.2em;
}

.size-input-institution:focus {
    outline: none;
    border-color: var(--warn);
}

.container-prop-button-institution-edit {
    /* background-color: red; */
    display: flex;
    width: 96%;
    margin: 20px 0;
    justify-content: flex-end;
}

.color-blue {
    background-color: var(--color-background-toolbar-variant);
    color: white;
}

.color-blue:hover {
    background-color: var(--color-background-toolbar);
}