.title-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.text-name {
    margin: 0;
    color: var(--color-icons);
    font-size: 1.5em;
}
.toolbar-login {
    background-color: var(--color-background-toolbar);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    height: auto;
    z-index: 100;
}
.icon-toolbar {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.nameUser {
    display: flex;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.no-display {
    display: none;
}

.menu-inicio {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 10px 0;
}

.menu-inicio>a {
    text-decoration: none;
}

.menu-inicio-item {
    display: flex;
    padding: 10px 20px;
    background-color: var(--color-background-toolbar);
    border-radius: 20px;
    border: 1px solid transparent;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.container-prop-items-center {
    /* width: 100%; */
    padding: 0 15%;
}

.border {
    background-color: rgba(90, 96, 116, 0.089);
    border-radius: 10px;
}

.title-item {
    text-align: center;
    padding: 30px 0 0px 0;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
    gap: 20px;
}

.aling-top {
    align-items: flex-start;
}

.card-inv {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    margin: 0 20px;
}

.profile-inv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    width: 250px;
    border-top: 1px rgb(45, 45, 102) solid;
    padding-top: 30px;
    text-align: center;
}

.more {
    cursor: pointer;
}

.linkContact {
    text-decoration: none;
    color: white;
}

.size-img {
    width: 300px;
    border: 10px solid rgba(255, 255, 255, 0.438);
    border-radius: 50%;
}

.background-one {
    background-color: brown;
}
.background-two {
    background-color: rgb(45, 121, 30);
}
.background-three {
    background-color: rgb(8 152 175);
    color: white;
    font-size: 1.4em;
}
.background-four {
    background-color: rgb(136, 143, 35);
}
.background-five {
    background-color: rgb(31, 26, 26);
    color: white;
}

.investigadores {
    border: 15px solid rgba(255, 0, 0, 0.459);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.carusel {
    z-index: -100;
}

.img-carusel {
    width: 100%;
    height: 400px;
}

#escalas {
    background-image: url('../../../assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.size-text-right {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 50px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.card-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px 10px;
    gap: 10px;
}

.card-contact>p {
    margin: 0;
}

.mat-icon-contact {
    height: 40px;
    width: 40px;
}

.icon-contact {
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: #06ddf9;
}

.size-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 10px 0;
    padding: 0;
    font-size: 1.8em;
}

p {
    font-size: 1.3em;
    /* background-color: red; */
}

.horizontal-type {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    gap: 10px;
}

.mat-icon {
    height: auto;
    width: auto;
}

.card-contact-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 10px;
    width: 80%;
    margin: 0 10%;
    color: black;
}

.message {
    width: 90%;
    padding: 10px;
    margin: 0 5%;
    user-select: none;
}

.message:focus {
    outline: transparent;
}

.button-send-message {
    margin: 20px 40px;
    padding: 5px 0;
    border-radius: 10px;
    width: auto;
    border: 1px solid rgb(157, 151, 151);
}

.button-send-message:hover {
    border: 1px solid rgb(109, 108, 108);
    background-color: rgba(207, 206, 206, 0.228);
}

.message-error {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0 10%;
}

@media only screen and (max-width: 1000px) {
    .title-item {
        margin: 0;
    }
    .menu-inicio {
        display: none;
    }
    .horizontal-content {
        flex-direction: column;
        font-size: .9em;
        width: 100%;
        margin: 5px;
        padding: 0;
    }
    .size-text-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .card-contact {
        width: 60%;
        margin: 5px;
        padding: 5px 10px;
        gap: 8px;
        border-top: 1px solid #06ddf9;
    }
    .container-prop-items-center {
        padding: 10px 10px;
    }
    p {
        text-align: center;
    }
    .horizontal-type {
        display: flex;
        flex-direction: column;
    }
    .aling-top {
        align-items: center;
    }
    .card-contact-message {
        margin: 20px 0;
    }
    .message {
        width: 98%;
        padding: 10px;
        margin: 0 1%;
        user-select: none;
    }
}