<div class="container-graphs">
    <div *ngIf="typeOfPresentation">
        <div *ngFor="let institution of nameOfInstitutions;let i=index">
            <div >
                <h2 class="title-graphs">
                    {{institution}}
                </h2>
                <div *ngFor="let scale of scales">
                    <app-individual-graph [barChartLabels]="scale.factors" 
                                        [data]="factorsScaleInstitution[i]"
                                        [series]="[scale.title]"></app-individual-graph>
    
                </div>
            </div>
            
        </div>
    </div>
    <div *ngIf="!typeOfPresentation">
        <div *ngFor="let scale of scales;let j=index">
            <app-individual-graph [barChartLabels]="scale.factors" 
                                [data]="returnNewArrayInstitutions(0)"
                                [series]="nameOfInstitutions"></app-individual-graph>
        </div>
    </div>
    <h2 class="title-graphs">Media de cada institución por escala</h2>
    <app-individual-graph [barChartLabels]="scalesNames" 
                            [data]="totalAverageScaleInstitution"
                            [series]="nameOfInstitutions"></app-individual-graph>
</div>